<h1>Empresas</h1>
<a href="{% url 'empresa_create' %}">Criar Nova Empresa</a>
<table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>CNPJ</th>
            <th>Endereco</th>
        </tr>
    </thead>
    <tbody>
        {% for empresa in empresas %}
        <tr>
            <td>{{ empresa.nome }}</td>
            <td>{{ empresa.cnpj }}</td>
            <td>{{ empresa.endereco }}</td>
            <td>
                <a href="{% url 'empresa_update' empresa.pk %}">Editar</a>
                <a href="{% url 'empresa_delete' empresa.pk %}">Excluir</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
